<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car form</title>
</head>
<body>
<form method="POST" th:action="${update} ? '/cars/update' : '/cars/add'" th:object="${car}">
<p>Car form</p>
<br>
<label>ID:<input type="text" th:field="*{id}" th:readonly="${update}"></label>
<label>Brand:<input type="text" th:field="*{brand}"></label>
<label>Model:<input type="text" th:field="*{model}"></label>
<label>Price pre day:<input type="text" th:field="*{pricePerDay}"></label>
<br/>
    <input type="submit"></form>
<br>
<a href="/cars">Go back to cars list</a>
<a href="/">Home Page</a>
</body>
</html>