

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of cars</title>
</head>
<body>
<h1>List of cars</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Mileage</th>
        <th>Damaged</th>
        <th>Availability</th>
        <th>Price per day</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car:${cars}">
        <td th:text="${car.id}">Id</td>
        <td th:text="${car.brand}">Brand</td>
        <td th:text="${car.model}">Model</td>
        <td th:text="${car.mileage}">Mileage</td>
        <td th:text="${car.isDamaged()}">Damaged</td>
        <td th:text="${car.isAvailable()}">Available</td>
        <td th:text="${car.pricePerDay}">Price</td>
        <td><a th:href="@{'/cars/'+${car.id}}">Details</a></td>
        <td><a th:href="@{'/cars/delete/'+${car.id}}">Delete</a></td>


    </tr>
    </tbody>
</table>
<div>
<a href="/">Go back</a>
</div>
</body>
</html>
