<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Clients</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>name</th>
        <th>lastname</th>
        <th>DateOfBirth </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client:${clients}">
        <td th:text="${client.id}">Id</td>
        <td th:text="${client.name}">First</td>
        <td th:text="${client.lastName}">Lastname</td>
        <td th:text="${client.dateOfBirth}">DateOfBirth</td>
        <td><a th:href="@{'/clients/'+${client.id}}">Details</a></td>
        <td><a th:href="@{'/client/update/'+${client.id}}">Update</a></td>

    </tr>
    </tbody>
</table>
<div>
    <a href="/">Go back</a>
</div>
</body>
</html>