<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>


<h2>Witaj przyjacielu!</h2>


<div>
    <h3>Samochody</h3>
    <a href="/cars">Lista samochodów</a>
    <a href="/car/form">Dodaj Samochód</a>
</div>
<div>
    <h3>Klienci</h3>
    <a href="/clients">Lista Klientów</a>
    <a href="/client/form">Dodaj Klienta</a>
</div>
<div>
    <h3>Wypożyczenia</h3>
    <a href="/rentals">Lista wypożyczeń</a>
    <a href="/rental/form">Wypożycz</a>
</div>
<br>
<a href="/admin">Panel administracyjny</a>
<br>
<a href="/logout">Wyloguj</a>

</body>
</html>