<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<a href="/logout">Wyloguj</a>
<h2>Witaj przyjacielu!</h2>


<div>
    <h3>Samochody</h3>
    <a href="/cars">Lista samochodów</a>
    <a href="/formCar">Dodaj Samochód</a>
</div>
<div>
    <h3>Klienci</h3>
    <a href="/clients">Lista Klientów</a>
    <a href="/formClient">Dodaj Klienta</a>
</div>
<div>
    <h3>Wypożyczenia</h3>
    <a href="/rentals">Lista wypożyczeń</a>
    <a href="/formRental">Wypożycz</a>
</div>
<br>
<a href="/admin">Panel administracyjny</a>


</body>
</html>